:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  @apply md:overflow-overlay;
}

table {
  border-spacing: 0 4px;
  border-collapse: separate;
}

tr.rounded {
  z-index: 1;
  position: relative;
}

tr.rounded td:first-child:before {
  @apply absolute inset-0 rounded box-content;
  content: "";
  z-index: -1;
  background-color: #FDFDFD;
  box-shadow: rgb(99 99 99 / 6%) 0 2px 4px 0 inset;
}

.cell {
  @apply rounded-sm absolute flex items-center justify-center;
}

.cell.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 1px;
}

.cell.shadow-inner {
  box-shadow: inset rgba(0, 0, 0, 0.16) 0 1px 1px;
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.text-shine {
  background: linear-gradient(270deg, #ff7356, #ff59e2 25.52%, #52ddf6 50%, #eadf4e 76.04%, #ff7356);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.running .squiggle {
  stroke-dasharray: 832;
  stroke-dashoffset: 832;
  animation: draw linear forwards;
  animation-duration: var(--timeout);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

input:-internal-autofill-selected {
  background-color: white !important;
}

.text-2xs {
  font-size: 8px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
